Vagrant/.vagrant/*
Vagrant/vagrant*.log
Packer/packer_cache/*
Packer/packer_build.log
Boxes/*
.DS_Store
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
ESXi/Ansible/inventory.yml
Azure/Ansible/inventory.yml
inventory.yml.bak
inventory.yml
*.box
manifest.xml
HyperV/.vagrant/*
logger_variables.sh
ESXi/Packer/variables.json
.terraform.lock.hcl
variables.json
