Vagrant/.vagrant/*
Vagrant/vagrant*.log
Packer/packer_cache/*
Packer/packer_build.log
Boxes/*
.DS_Store
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
inventory.yml
inventory.yml.bak
*.box
manifest.xml
HyperV/.vagrant/*
logger_variables.sh