Vagrant/.vagrant/*
Vagrant/vagrant*.log
Packer/packer_cache/*
Packer/packer_build.log
Boxes/*
.DS_Store
Terraform/*/*.tfstate
Terraform/*/.terraform
Terraform/*/*.tfvars
Terraform/*/*.lock.info
Terraform/*/*.backup
Terraform/*.tfstate
Terraform/*.terraform
Terraform/*.tfvars
Terraform/*.lock.info
Terraform/*.backup
