---

logger:
  hosts:
    ${logger_ip}:
      ansible_user: vagrant
      ansible_password: vagrant
      ansible_port: 22
      ansible_connection: ssh
      ansible_ssh_common_args: '-o UserKnownHostsFile=/dev/null'

dc:
  hosts:
    ${dc_ip}:

win10:
  hosts:
    ${win10_ip}:

wef:
  hosts:
    ${wef_ip}:

exchange:
  hosts:
    ${exchange_ip}:


