[Unit]
Description=fleet Fleet
After=network.target

[Service]
ExecStart=/usr/local/bin/fleet serve --mysql_address=127.0.0.1:3306 --mysql_database=fleet --mysql_username=root --mysql_password=fleet --redis_address=127.0.0.1:6379  --server_cert=/opt/fleet/server.crt --server_key=/opt/fleet/server.key --logging_json --filesystem_result_log_file=/var/log/fleet/osquery_result  --filesystem_status_log_file=/var/log/fleet/osquery_status --server_address 0.0.0.0:8412 --osquery_enable_log_rotation

[Install]
WantedBy=multi-user.target
